@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400&family=Inter:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-serif {
  font-family: "Cormorant Garamond", serif;
}

body {
  font-family: "Inter", sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}